.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}
 
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    z-index: 2;
    position: relative;
    margin-top: 60px;
    align-items: flex-start;
}
  
.button {
    width: 20%;
    max-width: 250px;
    height: 40px;
    border-radius: 50px;
    margin-top: -40px;
    margin-bottom: 50px;
    background-color: rgba(1, 79, 153, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: background-color 0.3s, transform 0.2s;
}
  
.button:hover {
    background-color: rgba(1, 79, 153, 0.6);
    cursor: pointer;
    transform: scale(1.05);
}
    
.buttonText {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #014f99;
}
.activeButton {
   background-color: rgba(1, 79, 153, 0.8); 
}

.activeButtonText {
    color: white;
}

.table {
    width: 100%;
    border-collapse: separate;
    font-size: 20px;
    color: #014f99;
    font-weight: bold;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    border: 1px solid #ddd;
    border-spacing: 0;
}
    
.table th,.table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}
    
.table thead {
    background-color: rgba(1, 79, 153, 0.6);
}
    
.table thead th:first-child {
    border-top-left-radius: 30px;
}
    
.table thead th:last-child {
    border-top-right-radius: 30px;
}
    
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}
    
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}