.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

/* .buttonContainer {
  display: flex;
  gap: 35px;
  z-index: 2;
  position: relative;
  margin-top: 60px;
  justify-content: center;
}

.button {
  width: 207px;
  height: 323px;
  border-radius: 50px;
  background-color: rgba(1, 79, 153, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: background-color 0.3s, transform 0.2s;
} */

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 2;
  position: relative;
  margin-top: 10vh;
  justify-content: center;
}

.button {
  width: 13vw;
  max-width: 207px;
  height: 34vh;
  border-radius: 50px;
  background-color: rgba(1, 79, 153, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: rgba(1, 79, 153, 0.6);
  cursor: pointer;
  transform: scale(1.05);
}

.icon {
  width: 5.6vw;
  height: 5.6vw;
  margin-bottom: 45px;
}

.buttonText {
  text-align: center;
  font-weight: bold;
  font-size: 1.9vw;
  text-align: center;
  color: #014f99;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!수정 필요!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11*/
@media (max-width: 760px) {
  .button {
    width: 140px;
    height: 160px;
  }

  .icon {
    width: 66px;
    height: 47px;
    margin-bottom: 20px;
  }

  .buttonText {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #014f99;
  }

  .buttonContainer {
    display: grid;
    margin-top: 180px;
    grid-template-columns: repeat(2, 1fr);
  }
}
