.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.mapContent {
  width: 50vw;
  max-width: 900px;
  aspect-ratio: 1200 / 860;
  margin-left: -3vw;
  margin-top: 3vh;
  border-radius: 1vw;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
}

.qrBox {
  width: 18vw;             /* 화면 너비의 40% */
  max-width: 80vw;         /* 너무 커지는 것 방지 */
  border-radius: 3vw;      /* 둥글기 반응형 */
  margin-left: 3vw;        /* 왼쪽 여백 반응형 */
  margin-top: 4vh;         /* 위쪽 여백 반응형 */
  aspect-ratio: 100 / 180;
  background-color: rgba(1, 79, 153, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  transition: background-color 0.3s, transform 0.2s;
}

.qr {
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-top: 15vh;
}

.qrText {
  text-align: center;
  font-weight: bold;
  margin-top: 2vh;
  font-size: 1.5vw;
  color: #014f99;
}
