.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.signupBox {
  position: absolute;
  top: 7.4vh;
  left: 56vw;
  width: 26.5vw;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

.inputGroup {
  width: 80%;
  display: flex;
  align-items: center;
}

.checkButton {
  width: 4.8vw;
  margin-left: 0.75vh;
  padding: 1vh;
  background: #014f99;
  color: white;
  font-size: 0.78vw;
  border: none;
  cursor: pointer;
}

.checkButton:hover {
  background: #013a73;
}

.genderGroup {
  width: 80%;
}

.gender {
  margin-right: 1vh;
}

/* 1280px 이하 화면 크기 */
/* @media (max-width: 1280px) {
  .signupBox {
    top: 80px;
    left: 740px;
    width: 393px;
    height: auto;
  }
} */

/* 768px 이하 화면 크기 */
/* @media (max-width: 768px) {
  .signupBox {
    width: 350px;
    height: auto;
    top: 251px;
    left: 22px;
  }
} */

/*작은 화면 크기 */
/* @media (max-width: 480px) {
  .signupBox {
    width: 90%;
    height: auto;
    top: 130px;
    left: 5%;
  }
} */

.title {
  font-size: 1.18vw;
  text-align: center;
  color: #014f99;
  margin-bottom: 2.1vh;
}

.input {
  width: 80%;
  padding: 0.7vw;
  margin: 0.85vh 0vw;
  border: 0.27vh solid #014f99;
  font-size: 0.59vw;
}

.input2 {
  width: 80%;
  padding: 1.26vh;
  margin: -0.3vh 0vh 1.2vh;
  border: 0.27vh solid #014f99;
  font-size: 0.59vw;
}

.signupButton {
  width: 80%;
  padding: 1.3vh;
  background: #014f99;
  color: white;
  font-size: 0.7vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 1.5vh;
}

.signupButton:hover {
  background: #013a73;
}

.idpassword {
  font-weight: bold;
  color: #014f99;
  font-size: 0.7vw;
  width: 80%;
  text-align: left;
}

.signup {
  margin-top: 30px;
  color: #014f99;
  text-decoration: none;
  font-size: 0.8vh;
  width: 80%;
  text-align: right;
}

.signup:hover {
  text-decoration: underline;
}

.error {
  color: red; /* 중복된 경우 빨간색 */
}

.success {
  color: green; /* 사용 가능한 경우 초록색 */
}
