.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  left: 100px;
  width: 400px;
  height: 200px;
  border-width: 1px;
  background-color: #718ebf;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.message {
  color: #014f99;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #014f99;
  font-size: 20px;
  cursor: pointer;
}

.closeButton:hover {
  color: #013a73;
}

.confirmButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  border-radius: 9px;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: #014f99;
  color: white;
}

.confirmButton:hover {
  background: #014f99;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0px 20px;
}
