.lecture-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  background: rgba(255, 255, 255);
  border: 0.25vw solid #005BAC;
  border-radius: 3vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0.8vw 1vw;
  text-align: center;
  color: #014f99;
  z-index: 10;
  font-size: 1.2vw;
  
}

.lecture-modal::before {
  content: '';
  position: absolute;
  top: 8vh;
  left: -1.03vw; /* 꼬리의 위치를 미세 조정 */
  transform: translateY(-50%) rotate(315deg); /* 삼각형 회전 */
  width: 1.5vw;
  height: 1.5vw;
  background: rgba(255, 255, 255);
  border-left: 0.25vw solid #005BAC;
  border-top: 0.25vw solid #005BAC;
}

.lecture-modal-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lecture-time,
.lecture-location,
.lecture-status,
.lecture-title,
.lecture-professor,
.lecture-schedule {
  margin: 0;
}

.lecture-time {
  margin-top: 1vw;
  font-size:0.8vw;
  color: #005BAC;
}

.lecture-location {
  font-size:0.8vw;
  margin-bottom: 1.5vw;
  color: #005BAC;
}

.lecture-status {
  font-size: 1.2vw;
  margin-bottom: 1.2vw;
  color: #005BAC;
}

.lecture-title {
  font-size: 1.1vw;
  margin-bottom: 0.5vw;
  font-weight: bold;
  color: #005BAC;
}

.lecture-professor {
  font-size: 0.8vw;
  margin-bottom: 0.5vw;
  font-weight: bold;
  color: #005BAC;
}

.lecture-schedule {
  font-size: 0.8vw;
  margin-bottom: 2vw;
  font-weight: bold;
  color: #005BAC;
}
