.button {
  width: 60px;
  height: 18px;
  border-radius: 50px;
  border-width: 1px;
  border: 1px solid #718ebf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 10px;
}

.text:hover {
  font-size: 12px;
}

.button:hover {
  background-color: rgba(1, 79, 153, 0.6);
  cursor: pointer;
  transform: scale(1.05);
}
